#title {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 80px;
  font-family: "verdana";
  font-weight: 900;
  margin-top: 10px;
  opacity: 0.8;
  letter-spacing: -8px;
  color: rgb(125, 133, 170);
}
#title:hover {
  color: white;
}

#image {
  text-align: center;
}

body {
  background-color: rgb(0, 22, 137);
  color: rgb(255, 255, 255);
  font-family: "Sabon LT Std";
  text-align: center;
}

#about {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
h1 {
  text-align: center;
}
#projects {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

nav {
  text-align: center;
  word-spacing: 60px;
}
a {
  color: white;
  text-decoration: none;
  position: relative;
}
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.5s ease;
}
a:hover::after {
  width: 100%;
}

#contact {
  font-size: larger;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em;
  text-align: center;
}
