#title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 80px;
    font-family: "verdana";
    font-weight: 900;
    margin-top: 10px;
    opacity: 0.8;
    letter-spacing: -8px;
    color: rgb(125, 133, 170);
}
#title:hover {
    color: white;   
}
  
body {
    background-color: rgb(211, 214, 232);
    color: rgb(0, 22, 137);
    font-family: "Sabon LT Std";
    text-align: center;
}

#art-flexbox {
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    text-align: center;
    word-spacing: 60px;
}
a {
    color: rgb(0, 22, 137);
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.5s ease;
}
a:hover::after {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
    text-align: center;
}