@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: "Open Sans";
  src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

#title-bar {
  font-family: "Open Sans";
  font-size: large;
  color: black;
}

a {
  color: black;
}

#icons {
  word-spacing: 10px;
}
img {
  border-radius: 20%;
}
img:hover {
  transform: rotate(360deg);
  transition-duration: .5s;
}

#welcome {
  font-weight: 600;
  font-family: "Open Sans";
  text-align: left;
}

body {
  background-color: rgb(236, 240, 246);
  color: rgb(39, 39, 39);
  font-size: larger;
}

.main-link {
  color: rgb(56, 56, 241);
}
.main-link:hover {
  background-color: rgb(255, 242, 124);
}

#main-text {
  text-align: justify;
  width: 50%;
  font-family: "Open Sans";
}